<div> 
    <h1>Inicia Sesion</h1>
    <form id="loginForm">
        <label>Email</label>
        <input type="text" name="Email">
        <label>Contraseña</label>
        <input type="password" name="Password">
        <input type="submit">
    </form>
    <a href="/register">Aun no tienes una cuenta? registrate aqui</a>
</div>

<script src="/js/login.js"></script>