<div> 
    <h1>Inicia Sesion</h1>
    <a href="/">Inicio</a>
    <form style="display: flex; flex-direction:column; width: 400px;"; id="newProductForm">
        <label>Nombre </label>
        <input name="Name">
        <label>Descripcion</label>
        <input name="Description">
        <label>Precio</label>
        <input type="number" name="Price">
        <label>Stock</label>
        <input type="number" name="Stock">
        <label>Imagen</label>
        <input type="file" name="Image">
        <input type="submit">
    </form>
</div>

<script src="/js/newProducts.js"></script>